* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #030712;
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.calculadora {
  background-color: #262626;
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.4), 
  -10px -10px 30px rgba(255, 80, 160, 0.1);
  width: 375px;
  height: 580px;
  border-radius: 2rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.display {
  font-size: 48px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: right;
  color: rgba(255, 255, 255, 1 );
  grid-row: 1/1;
  grid-column: 1/5;
  padding-top: 50px;
  padding-bottom: 5px;
  background: none;
}
.generic-button {
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.5),
    -3px -3px 10px rgba(255, 80, 160, 0.15);
  background: #333333;
  color: rgba(255, 255, 255, 1 );
  font-size: 24px;
  margin: 7px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.equal {
  grid-row: 5/7;
  grid-column: 4/5;
}
.zero {
  grid-column: 1/3;
}
