* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.calculadora {
  background: red;
  width: 375px;
  height: 580px;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr) ;

}
.display {
    font-size: 48px;
    background-color: aquamarine;
    border: none;
    outline: none;
    text-align: right;
    color: white;
    grid-row: 1/3;
    grid-column: 1/5;
    padding-top: 50px;
     
}
.generic-button {
    font-size: 24px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.equal {
    grid-row: 6/8;
    grid-column: 4/5;
}
.zero {
    grid-column: 1/3;
}
